@import './components/components.module.css';
@import './pages/login/login-signup.module.css';
@import './pages/kitchen/kitchen-order.module.css';
@import './pages/menu/menu.module.css';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

:root {
    --black: #292929;
    --white: #dddcd4;
    --seven: #F2AA52;
    --one: #BF5E3B;
    --two: #BF3056; 
    --four: #BF3056;
    --role: #0e5d2296;
    --lightrole: #bf30562c;
    --lighttrole: #bf30562c;
    --six: #ec903f;
    --lightsix: #fcf4df;
    --background-cards: #fff7dc;
    --background-bgr: #ebe7c5;
    --background-color-home: #f3eeae52; 
    --default-background: #ffd485a1;
}

* {
    margin: 0;
    padding: 0;
    color: var(--default-font-color);
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    width: 17rem;
}

@media only screen and (min-width:769px) {
    form {
        width: 20rem;
    }
}