@import './pages/login/login-signup.module.css';

:root {
    --default-font-color: #ffffff;
    --secondy-font-color: #8c8c8c;
    --background-cards: #262526;
    --default-background: #0d0c0c;
}

* {
    margin: 0;
    padding: 0;
    color: var(--default-font-color);
    font-family: "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

form {
    display: flex;
    flex-direction: column;
    width: 17rem;
}

@media only screen and (min-width:769px) {
    form {
        width: 20rem;
    }
}