@import './components/components.module.css';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

:root {
    --default-font-color: #ffffff;
    --secondy-font-color: #8c8c8c;
    --background-cards: #303030;
    --background-color-home: #272829;
    --default-background: #0d0c0c;
    --default-red: #e23c2e;
    --default-green: #309746;
}

* {
    margin: 0;
    padding: 0;
    color: var(--default-font-color);
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    width: 17rem;
}

@media only screen and (min-width:769px) {
    form {
        width: 20rem;
    }
}